<div class="navigation-bar">
    <nav>
      <ul>
        <li><a href="/" class="homebutton">Home</a>
        <li><a href="/vaccinationDetails.ejs">Vaccination Details</a></li>
        <li><a href="/aboutUs.ejs">About Us</a></li>
        <li><a href="/contactUs.ejs">Contact Us</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </div>