<%- include('layouts/header'); -%>

    <%- include('layouts/nav'); -%>

        <div class="itemsContainerVacc">

            <div>
                <h2><label>About us</label></h4>
            </div>

            <p id="vaccImp">
                As a group of three dedicated individuals, we have come together with a shared passion for creating
                meaningful impact through technology. Our diverse backgrounds and complementary skill sets have enabled
                us to collaborate effectively and bring our project to life.<br/><br/>

                First and foremost, let's introduce our team members:<br/><br/>

                <b>Ramnivas Eppa:</b> With a background in software engineering, Ramnivas brings a wealth of technical
                expertise to the team. his proficiency in programming language has been instrumental in architecting and
                implementing the core functionalities of this project. He is known for their meticulous attention to
                detail and ability to troubleshoot complex technical challenges, ensuring the robustness and reliability
                of our solution. <br/><br/>

                <b>Akhil Gaddam:</b> As a creative visionary, Akhil injects a unique perspective into our project with
                their
                background in design and user experience. Their keen eye for aesthetics and intuitive understanding of
                user behavior have shaped the user interface of our application, making it both visually appealing and
                user-friendly. He is also adept at conducting user research and gathering feedback, allowing us to
                iteratively improve and refine our product based on user needs and preferences.<br/><br/>

                <b>Hillary S Nnadi:</b> With a background in project management and business development, Hillary plays a
                pivotal role in
                driving the strategic direction of our project and ensuring its alignment with overarching goals and
                objectives. Their strong organizational skills and ability to effectively communicate and coordinate
                tasks have kept our team on track and focused on delivering results. He is also responsible for
                liaising with stakeholders, managing resources, and overseeing the project timeline to ensure timely
                delivery and successful implementation.<br/><br/>


            </p>

        </div>

        <%- include('layouts/footer') -%>