<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>

<form action="/add_child_vaccination" method="post" id="childVaccinationForm">

    <div class="child-details">
        <div class="form-element">
            <label for="childFirstName"> Child's First Name: </label>
            <input type="text" class="childFirstName" id="childFirstName" name="childFirstName" required />
        </div>
    
        <div class="form-element">
            <label for="childLastName"> Child's Last Name: </label>
            <input type="text" class="childLastName" id="childLastName" name="childLastName" required>
        </div>
        

        <div class="form-element">
            <label for="dob">Date of Birth:</label>
            <input type="date" class="dob" id="childDob" name="dateOfBirth" required>
            <p id="ageDisplay"></p>

        </div>
        
        <div class="form-element">
            <label for="birthplace">Birthplace:</label>
            <input type="text" class="birthplace" id="childBirthPlace" name="birthplace" required>
        </div>
    

        <div class="form-element">
            <label for="sex">Sex:</label>
            <select class="sex" id="childGender" name="sex" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        
    </div>

    <button type="submit">Submit</button>

    <br><br>

    <%- include('layouts/footer') -%>