<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>

        <div class="itemsContainer">

            <div>
                <h2 style="text-align: center;"><label>Add your Vaccination Details</label></h4>
            </div>
           


        </div>
        <%- include('layouts/footer') -%>