<%- include('layouts/header'); -%>
   

    <div class="itemsContainer" id="checkOutForm">

        <div>
            <h2 style="text-align: center;"><label style="display: inline;font-size: 30px">Vaccination</label></h4>
        </div>
        <p> The Children Vaccination Tracker app stands as an innovative and impactful solution in pediatric healthcare,
            employing cutting-edge technologies such as HTML, CSS, JavaScript, Express.js, Node.js, and either MongoDB
            or SQL. By focusing on user-friendly design, data security, and an efficient notification system, the app
            addresses a critical need—reducing missed vaccinations. This not only aligns with broader goals of
            preventive healthcare but also has the potential to significantly improve child health outcomes and lower
            healthcare costs associated with preventable diseases. The convergence of business and technological
            purposes ensures a robust, scalable, and engaging platform, contributing not only to the development of an
            application but to the creation of a tool that actively promotes a healthier future for the younger
            generation.</p>






    </div>
    <%- include('layouts/footer') -%>
        <script>
            // Add an event listener to the button
            function addItems(e) {
                document.getElementById(e.id).innerHTML = "Added"
            };

        </script>