<%- include('layouts/header'); -%>
    <%- include('layouts/nav'); -%>

        <div class="itemsContainer">

            <div>
                <h2 style="text-align: center;"><label>vaccination details for Your child</label></h4>
            </div>
            <p> Add vaccination details for Your children</p>


        </div>
        <%- include('layouts/footer') -%>